<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Codigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  [fullscreen]="true">

  <ion-card>
    <ion-card-content>
        <ion-input [(ngModel)]="code" type="text" placeholder="Enter code here"></ion-input>

        <ion-button *ngIf="admin" (click)="process();" expand="block" class="primary">
          Generar codigo qr
        </ion-button>
        <ion-button *ngIf="alumno" (click)="process();" expand="block" class="primary">
          Escanear qr
        </ion-button>
        <img *ngIf="displayQrCode()" [src]="generated" class="codigo"/>
    </ion-card-content>
</ion-card>

<label for="">{{currentDate | date:'dd-MM-yyyy'}}</label>
<!--   
  <ion-card class="ion-text-center">
     <ion-card-content>
      <ngx-qrcode [elementType]="elementType">

      </ngx-qrcode>
     </ion-card-content>
  </ion-card>

  <ion-button (click)="startScan()" expand="block" class="ion-margin">
    Click me
  </ion-button>

  <ion-item>
    <ion-label class="ion-text-wrap">Scanned Result:{{scannedResult}}</ion-label>
  </ion-item> -->
</ion-content>
