<ion-content>
  <div class="header">
    <h3>Bienvenido!</h3>
    <h1>Iniciar Sesion</h1>
  </div>

  <div class="form">
    <form (ngSubmit)="login()"  [formGroup]="formularioLogin">
      <ion-item class="ion-margin-bottom">
      <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
      <ion-note slot="error" *ngIf="(email?.dirty || email?.touched) && email?.errors">Formato Email no válido</ion-note>
    </ion-item>

    <ion-item class="ion-margin-bottom">
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      <ion-note slot="error" *ngIf="(password?.dirty || password?.touched) && password?.errors">El password debe contener al menos 6 caracteres</ion-note>
    </ion-item>
    </form>
  </div>

  <div class="button" style="margin: 0 auto;">
    <ion-button expand="full" (click)="login()" type="submit" [disabled]="!formularioLogin.valid">Login</ion-button>
  </div>

  <div class="footer">
    <h3 [routerLink]="['/registro']">¿No tienes cuenta? <span>Registrate Aqui</span></h3>
  </div>
  <div class="footer">
    <h3 [routerLink]="['/reset']"><span>¿Se te ha olvidado la contraseña?</span></h3>
  </div>
</ion-content>
